<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodOrderingApp"
        tools:targetApi="31">
        <activity
            android:name=".ui.activityfragment.customer.accountmanagement.am_faqs"
            android:exported="true" />
        <activity
            android:name=".ui.activityfragment.customer.accountmanagement.SelectLocation"
            android:exported="true" />
        <activity
            android:name=".data.repository.order.resultTestActivity"
            android:exported="true" />
        <activity
            android:name=".data.repository.refund.uploadImageActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activityfragment.admin.AdminMainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activityfragment.admin.activity_adminOrderDetail"
            android:exported="true" />
        <activity
            android:name=".ui.activityfragment.authentication.activity_verifyOTP"
            android:exported="true" />
        <activity
            android:name=".ui.activityfragment.authentication.activity_setpassword"
            android:exported="true" />
        <activity
            android:name=".ui.activityfragment.authentication.activity_forgetpassword"
            android:exported="true" />
        <activity
            android:name=".ui.activityfragment.authentication.activity_signup"
            android:exported="true" />
        <activity
            android:name=".ui.activityfragment.authentication.activity_login"
            android:exported="true" />
        <activity
            android:name=".ui.activityfragment.customer.accountmanagement.am_feedback_product"
            android:exported="true" />
        <activity
            android:name=".ui.activityfragment.customer.accountmanagement.am_feedback_list"
            android:exported="true" />
        <activity
            android:name=".ui.activityfragment.customer.accountmanagement.am_order_detail"
            android:exported="true" />
        <activity
            android:name=".ui.activityfragment.customer.accountmanagement.am_my_orders"
            android:exported="true" />
        <activity
            android:name=".ui.activityfragment.customer.accountmanagement.am_point_history"
            android:exported="true" />
        <activity
            android:name=".ui.activityfragment.customer.accountmanagement.am_change_userinfo"
            android:exported="true" />
        <activity
            android:name=".ui.activityfragment.customer.accountmanagement.am_change_password"
            android:exported="true" />
        <activity
            android:name=".ui.activityfragment.customer.accountmanagement.am_user_info"
            android:exported="true" />
        <activity
            android:name=".ui.activityfragment.customer.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- START: CART - CHECKOUT - PAYMENT -->
        <activity
            android:name=".ui.activityfragment.customer.checkout.BuySuccessActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activityfragment.customer.checkout.CheckoutActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activityfragment.customer.checkout.CheckoutAddressActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activityfragment.customer.checkout.CouponActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activityfragment.customer.checkout.PaymentMethodActivity"
            android:exported="true"></activity> <!-- END: CART - CHECKOUT - PAYMENT -->
        <!-- START: REFUND -->
        <activity
            android:name=".ui.activityfragment.customer.refund.AddRefundProductActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ui.activityfragment.customer.refund.RefundRequestActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ui.activityfragment.admin.refund.RefundProgressActivity"
            android:exported="true"></activity> <!-- END: REFUND -->
        <!-- START: ACCOUNT -->
        <activity
            android:name=".ui.activityfragment.customer.accountmanagement.AM_AddressActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ui.activityfragment.customer.accountmanagement.AM_AddAddressActivity"
            android:exported="true"></activity> <!-- START: ACCOUNT -->
        <!-- START: SEARCH -->
        <activity
            android:name=".ui.activityfragment.customer.search.SearchActivity"
            android:exported="true"></activity> <!-- END: SEARCH -->
        <!-- START: PRODUCT DETAIL -->
        <activity
            android:name=".ui.activityfragment.customer.productdetail.ProductDetailCakeActivity"
            android:exported="true"></activity> <!-- END: PRODUCT DETAIL -->
        <!-- START: PRODUCT DETAIL -->
        <activity
            android:name=".ui.activityfragment.customer.productdetail.ProductDetailDrinkActivity"
            android:exported="true"></activity> <!-- END: PRODUCT DETAIL -->
        <!-- START: Google Map -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDGGyK8delYa1bpENd_3lC-2yBiRaoRtFM" />
            android:exported="true"></activity>
    </application>

</manifest>