<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodOrderingApp"
        tools:targetApi="31">


        <activity
            android:name=".UI.resultTestActivity"
            android:exported="true" />
        <activity
            android:name=".UI.uploadImageActivity"
            android:exported="true" />

        <activity
            android:name=".UI.Activity_Fragment.Admin.AdminMainActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity_Fragment.Admin.activity_adminOrderDetail"
            android:exported="true" />
        <activity
            android:name=".UI.Activity_Fragment.Authentication.activity_verifyOTP"
            android:exported="true" />
        <activity
            android:name=".UI.Activity_Fragment.Authentication.activity_setpassword"
            android:exported="true" />
        <activity
            android:name=".UI.Activity_Fragment.Authentication.activity_forgetpassword"
            android:exported="true" />
        <activity
            android:name=".UI.Activity_Fragment.Authentication.activity_signup"
            android:exported="true" />
        <activity
            android:name=".UI.Activity_Fragment.Authentication.activity_login"
            android:exported="true" />
        <activity
            android:name=".UI.Activity_Fragment.Customer.AccountManagement.am_feedback_product"
            android:exported="true" />
        <activity
            android:name=".UI.Activity_Fragment.Customer.AccountManagement.am_feedback_list"
            android:exported="true" />
        <activity
            android:name=".UI.Activity_Fragment.Customer.AccountManagement.am_order_detail"
            android:exported="true" />
        <activity
            android:name=".UI.Activity_Fragment.Customer.AccountManagement.am_my_orders"
            android:exported="true" />
        <activity
            android:name=".UI.Activity_Fragment.Customer.AccountManagement.am_point_history"
            android:exported="true" />
        <activity
            android:name=".UI.Activity_Fragment.Customer.AccountManagement.am_change_userinfo"
            android:exported="true" />
        <activity
            android:name=".UI.Activity_Fragment.Customer.AccountManagement.am_change_password"
            android:exported="true" />
        <activity
            android:name=".UI.Activity_Fragment.Customer.AccountManagement.am_user_info"
            android:exported="true" />
        <activity
            android:name=".UI.Activity_Fragment.Customer.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- START: CART - CHECKOUT - PAYMENT -->
        <activity
            android:name=".UI.Activity_Fragment.Customer.Checkout.BuySuccessActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity_Fragment.Customer.Checkout.CheckoutActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity_Fragment.Customer.Checkout.CheckoutAddressActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity_Fragment.Customer.Checkout.CouponActivity"
            android:exported="true" />
        <activity
            android:name=".UI.Activity_Fragment.Customer.Checkout.PaymentMethodActivity"
            android:exported="true">
        </activity>

        <!--   END: CART - CHECKOUT - PAYMENT-->

        <!--    START: REFUND   -->
        <activity
            android:name=".UI.Activity_Fragment.Customer.Refund.AddRefundProductActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".UI.Activity_Fragment.Customer.Refund.RefundRequestActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".UI.Activity_Fragment.Admin.Refund.RefundProgressActivity"
            android:exported="true">
        </activity>
        <!--    END: REFUND   -->

        <!--   START: ACCOUNT-->
        <activity
            android:name=".UI.Activity_Fragment.Customer.AccountManagement.AM_AddressActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".UI.Activity_Fragment.Customer.AccountManagement.AM_AddAddressActivity"
            android:exported="true">
        </activity>
        <!--   START: ACCOUNT-->

        <!--   START: SEARCH-->
        <activity
            android:name=".UI.Activity_Fragment.Customer.search.SearchActivity"
            android:exported="true">
        </activity>
        <!--   END: SEARCH-->

        <!--   START: PRODUCT DETAIL-->
        <activity
            android:name=".UI.Activity_Fragment.Customer.ProductDetail.ProductDetailCakeActivity"
            android:exported="true">
        </activity>
        <!--   END: PRODUCT DETAIL-->

        <!--   START: PRODUCT DETAIL-->
        <activity
            android:name=".UI.Activity_Fragment.Customer.ProductDetail.ProductDetailDrinkActivity"
            android:exported="true">
        </activity>
        <!--   END: PRODUCT DETAIL-->
    </application>

</manifest>